<!DOCTYPE html>
<html ng-app="portraitPage">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
    <script type="text/javascript" src="script/angular.min.js"></script>
    <script type="text/javascript" src="script/angular-animate.min.js"></script>
    <script type="text/javascript" src="script/portrait.js"></script>
</head>
<body ng-controller="PortraitController">
    <div class="header">
        <img class="headerImg" src="img/portrait.jpg">
    </div>

    <div class="container">
        <div class="images" ng-show="showImg(0)">
            <div class="quarter vic" ng-click="set(1)"></div>
            <div class="quarter mimi" ng-click="set(2)"></div>
            <div class="quarter dee" ng-click="set(3)"></div>
            <div class="quarter isaac" ng-click="set(4)"></div>
        </div>
        <div class="big bigVic" ng-show="showImg(1)"></div>
        <div class="big bigMimi" ng-show="showImg(2)"></div>
        <div class="big bigDee" ng-show="showImg(3)"></div>
        <div class="big bigIsaac" ng-show="showImg(4)"></div>

        <div class="bio" ng-repeat="bio in bios" >
            <div class="slidein slideout" ng-show="showBio($index)">
                <h4>{{bio.name}}</h4>
                <p>{{bio.bio}}</p>
            </div>
        </div>
    </div>
</body>
</html>