body {
    background-color: #000;
}

.container {
    padding-top: 20px;
}

.images {
    padding: 0px 0px 20px 0px;
    margin: 0 auto;
    width: 404px;
}

.isaac {
    width: 200px;
    height: 200px;
    background: url(../img/wirt.jpg) 200px 200px;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.isaac:hover {
    cursor: pointer;
    background: url(../img/isaac.gif) -50px 0px;
    background-size: cover;
}

.mimi {
    width: 200px;
    height: 200px;
    background: url(../img/beatrice.jpg) -50px 0px;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.mimi:hover {
    cursor: pointer;
    background: url(../img/mimi.gif) -80px 0px;
    background-size: cover;
}

.slidein,
.slideout
{
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    margin-top: 30px;
    color: #fff;
    width: 60%;
    margin: 50px auto;
    text-align: justify;
}

.slidein.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    top: 0;
}

.slideout.ng-hide-add {
    display: none;
}

.slideout.ng-hide-add.ng-hide-add-active,
.slidein.ng-hide-remove {
    opacity: 0;
    top: -50px;
}